body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1000px;
    height: 70px;
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 51px;
    line-height: 0;
    background: #494949;
    align-content: center;
    align-items: center;
}

.controls button {
    font-size: 2rem;
    line-height: 0;
}

#load {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: #ffd500;
}

#load>img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    height: 50%;
    border-radius: 30px;
}


.spinner {
    width: 200px;
    height: 200px;
    animation: spinner-y0fdc1 3s infinite ease;
    transform-style: preserve-3d;
    position: fixed;
    border: 3 px solid black;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 11;
}

.spinner>div {
    height: 100%;
    position: absolute;
    width: 100%;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-100px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(100px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

.cubeImage {
    border-radius: 0px;
    height: 100%;
    width: 100%;
}

.stats {
    position: fixed;
    bottom:25px;
    left:25px;
    display: flex;
    flex-direction: column;
    padding:5px;
    width: 130px;
    height: 60px;
    font-size: 1.2rem;
}

.stats p {
    padding:0px;
    margin:0px
}

.stats::before {
    border-radius:15px !important;
}

.timer {
    position: fixed;
    top:50%;
    left:25px;
    transform: translate(0%,-50%);
    padding:10px;
    font-size: 2rem;
}

.timer::before {
    border-radius:15px !important;
}

.btn, .controls button {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: none;
    margin: 5px;
    min-width: 125px;
    font-weight: 700;
    background: #020202;
    cursor: pointer;
    height: 50px;
    padding: 16px;
    border-radius: 60px;
}